* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(3, 0, 31);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.logo {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
}

.sideBar {
  flex: 0 0 350px; /* Sidebar width */
  border-right: 1px solid white;
  display: flex;
  position: relative;
  flex-direction: column; /* Arrange sidebar items vertically */
  padding: 2rem ; /* Add padding */
}

.sideBar > * {
  margin-bottom: 2rem; /* Add bottom margin to all sidebar elements */
}

.sideBar > *:last-child {
  margin-bottom: 0; /* Remove bottom margin from the last sidebar element */
}

.main {
  flex: 1;
  padding: 2rem; /* Add padding */
}

.brand {
  font-size: 2rem;
}

.upperside {
  border-bottom: 1px solid white;
}

.uppersidetop {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.addbtn {
  height: 2rem;
  padding-right: 1rem;
}

.addbtn img {
  margin-right: 0.5rem; /* Adjust margin between icon and text */
}

.midbtn {
  background: #5A4BFF;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.queries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  color: white;
}

.query > img {
  margin-right: 1rem;
  height: 1.75rem;
}

.lowerside {
  position: absolute; /* Position the lowerside absolutely */
  bottom: 0; /* Align the lowerside to the bottom */
  width: 94%; /* Make the lowerside full width */
  padding: 2rem 0; /* Add padding at the top and bottom */
  border-top: 1px solid white; /* Add a 1px solid white border at the top */
}



.listitems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.listitemimg {
  margin: 1rem;
  padding-right: 1rem;
}

.listitems:nth-child(1) > .listitemimg {
  margin-right: 0.5rem;
}

.listitems:nth-child(3) > .listitemimg {
  margin-right: 0.8rem;
}
.query:nth-of-type(1) {
  margin-top: 3rem; /* Adjust the top margin to create space between the buttons */
}
